<app-navbar [userLogged]="userLogged"></app-navbar>
<br><br>
<img src="../../assets/images/confuse.jpeg" class="rounded mx-auto d-block">
<h2 style="color: rgb(8, 8, 8);text-shadow: 2px 2px rgb(74, 108, 202);" align="center">Forgot Password </h2>
<br>
<div align="center">
    <div style="height:auto; width: 400px;" >
        <form [formGroup]="forgotForm" (ngSubmit)="onSubmit()">
            <div class="form-group text-left">
                <label>User_Id:</label>
                <input type="text" formControlName="email" class="form-control" pattern="^([a-zA-Z0-9_\-\.]+)@([a-zA-Z0-9_\-\.]+)\.([a-zA-Z]{2,5})$" [ngClass]="{ 'is-invalid': submitted && f.email.errors }" />
                <div *ngIf="submitted && f.email.errors" class="invalid-feedback">
                    <div *ngIf="f.email.errors.required">user_Id is required</div>
                    <div *ngIf="f.email.errors.pattern">Enter valid Email</div> 
                </div>
            </div>
            <div class="form-group">
                <button [disabled]="loading" class="btn btn-primary">
                    <span *ngIf="loading" class="spinner-border spinner-border-sm mr-1"></span>
                    Submit
                </button>
            </div>
        </form>
    </div>
</div>